---
layout: base
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="\assets\css\exedu.css">
</head>
<body>
   
    <div class="main-content">
        <div class="left">
            <h1>Education</h1>
<h2>University of Ottwa</h2>
<h3>Sept 2016 - Sept 2017</h3>
<h4>Bachelor of Science in Computer Science</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in iaculis ex. Etiam volutpat laoreet urna. Morbi ut tortor nec nulla commodo malesuada sit amet vel lacus.</p>
<hr style="background-color:#404040">

<h2>University of Ottwa</h2>
<h3>Sept 2016 - Sept 2017</h3>
<h4>Bachelor of Science in Computer Science</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in iaculis ex. Etiam volutpat laoreet urna. Morbi ut tortor nec nulla commodo malesuada sit amet vel lacus. </p>
        </div>
        
        <div class="right">
            <h1>Experience</h1>
            <h2>University of Ottwa</h2>
<h3>Sept 2016 - Sept 2017</h3>
<h4>Bachelor of Science in Computer Science</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in iaculis ex. Etiam volutpat laoreet urna. Morbi ut tortor nec nulla commodo malesuada sit amet vel lacus.</p>

<hr style="background-color:#404040">
<h2>University of Ottwa</h2>
<h3>Sept 2016 - Sept 2017</h3>
<h4>Bachelor of Science in Computer Science</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in iaculis ex. Etiam volutpat laoreet urna. Morbi ut tortor nec nulla commodo malesuada sit amet vel lacus. </p>
        </div>
    </div>

</body>
</html>